## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [2]:
import pandas as pd
import numpy as np

In [3]:
# загружаем датасет
data = pd.read_csv("/Users/BigTime/Downloads/data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [4]:
count = data['sex'].value_counts()
print(count[count.index == 'Female'])

Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [5]:
male = data[data['sex'] == 'Male']
print('Средний возраст мужчин:', male['age'].mean())

Средний возраст мужчин: 39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [6]:
print('Доля граждан Соединенных Штатов:', len(data[data['native-country'] == 'United-States']) / len(data))

Доля граждан Соединенных Штатов: 0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [7]:
first_group = data[data['salary'] == '<=50K']
second_group = data[data['salary'] == '>50K']
first_mean = first_group['age'].mean()
second_mean = second_group['age'].mean()
first_std = first_group['age'].std()
second_std = second_group['age'].std()
print('Среднее значение возраста тех, кто получает более 50к в год:', first_mean)
print('Среднее значение возраста тех, кто получает менее 50к в год:', second_mean)
print('Среднеквадратичное отклонение возраста тех, кто получает более 50к в год:', first_std)
print('Среднеквадратичное отклонение возраста тех, кто получает менее 50к в год:', second_std)

Среднее значение возраста тех, кто получает более 50к в год: 36.78373786407767
Среднее значение возраста тех, кто получает менее 50к в год: 44.24984058155847
Среднеквадратичное отклонение возраста тех, кто получает более 50к в год: 14.020088490824813
Среднеквадратичное отклонение возраста тех, кто получает менее 50к в год: 10.51902771985177

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [8]:
second_group_degree = second_group['education'].value_counts()
degrees = ['Bachelors', 'Prof-school', 'Accos-acdm', 'Accos-voc', 'Masters', 'Doctorate']

print('Правда' if set(second_group_degree.index) <= set(degrees) else 'Неправда')

Неправда

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [9]:
race_sex_grouped = data.groupby(['race', 'sex'])
max_ages=race_sex_grouped['age'].max()
max_age_for_male = max_ages.loc[('Asian-Pac-Islander', 'Male')]
print('Максимальный возраст мужчин расы Asian-Pac-Islander:', max_age_for_male)

Максимальный возраст мужчин расы Asian-Pac-Islander: 90

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [10]:
data.groupby(['marital-status','salary']).describe()

married = data[data['marital-status'].isin(['Married-AF-spouse', 'Married-civ-spouse', 'Married-spouse-absent'])]
unmarried = data[~data['marital-status'].isin(['Married-AF-spouse', 'Married-civ-spouse', 'Married-spouse-absent'])]
if (len(unmarried[unmarried['salary'] == '>50K']) / len(unmarried))>len(married[married['salary'] == '>50K']) / len(married):
    print('Среди холостых доля зарабатывающих много больше')
else:
    print('Среди женатых доля зарабатывающих много больше')

Среди женатых доля зарабатывающих много больше

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [11]:
max_hour = data['hours-per-week'].max()
max_people = data[data['hours-per-week'] == max_hour]

print('Максимум в неделю человек работает:', len(max_people[max_people['salary'] == '>50K']))
print('Процент зарабтывающих много среди людей работающих столько часов:',len(max_people[max_people['salary'] == '>50K']) / len(max_people))

Максимум в неделю человек работает: 25
Процент зарабтывающих много среди людей работающих столько часов: 0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [12]:
grouped_country = data.groupby(['native-country', 'salary'])
print(grouped_country['hours-per-week'].mean())

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [36]:
bins = pd.IntervalIndex.from_tuples([(16, 35), (35, 70), (70, 100)])
data['AgeCat'] = pd.cut(data['age'], bins)

data['AgeCat'] = data['AgeCat'].astype(str)
data['AgeGroup'] = data['AgeCat'].apply(lambda x: 
                                          'Young' if '(16, 35]' == x else
                                          'Adult' if '(35, 70]' == x else
                                          'Retiree')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeCat,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,"(35, 70]",Adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,"(35, 70]",Adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,"(35, 70]",Adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,"(35, 70]",Adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,"(16, 35]",Young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [37]:
first_group = data[data['salary'] == '>50K']
first_group.groupby(['AgeGroup']).size()
print(first_group.groupby(['AgeGroup']).size().idxmax())

Adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [15]:
grouped_occupation = data.groupby(['occupation'])
grouped_occupation.size()

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64

In [16]:
def filter_func(df):
    age_mean = df['age'].mean()
    hours_mean = df['hours-per-week'].mean()
    return (age_mean <= 40) & (hours_mean > 5)

In [17]:
filter_func(grouped_occupation)

occupation
?                    False
Adm-clerical          True
Armed-Forces          True
Craft-repair          True
Exec-managerial      False
Farming-fishing      False
Handlers-cleaners     True
Machine-op-inspct     True
Other-service         True
Priv-house-serv      False
Prof-specialty       False
Protective-serv       True
Sales                 True
Tech-support          True
Transport-moving     False
dtype: bool