## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [7]:
male=data[data['sex']=='Male']
male['age'].mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [11]:
len(data[data['native-country']=='United-States'])/len(data)

0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [25]:
first_group=data[data['salary']=='<=50K']
second_group=data[data['salary']=='>50K']
first_mean=first_group['age'].mean()
second_mean=second_group['age'].mean()
first_std=first_group['age'].std()
second_std=second_group['age'].std()
print(first_mean, second_mean, first_std, second_std)

36.78373786407767 44.24984058155847 14.020088490824813 10.51902771985177

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [30]:
second_group['education'].value_counts()
#неправда

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [34]:
race_sex_grouped=data.groupby(['race', 'sex'])
race_sex_grouped['age'].describe()
#максимальный возраст мужчин расы Asian-Pac-Islander 90 лет

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [63]:
data.groupby(['marital-status','salary']).describe()

married = data[data['marital-status'].isin(['Married-AF-spouse', 'Married-civ-spouse', 'Married-spouse-absent'])]
unmarried = data[~data['marital-status'].isin(['Married-AF-spouse', 'Married-civ-spouse', 'Married-spouse-absent'])]
print(len(unmarried[unmarried['salary']=='>50K'])/len(unmarried), len(married[married['salary']=='>50K'])/len(married))

0.0644540363975735 0.43692028280469614

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [70]:
max_hour=data['hours-per-week'].max()
max_people=data[data['hours-per-week']==max_hour]
print(len(max_people[max_people['salary']=='>50K']),len(max_people[max_people['salary']=='>50K'])/len(max_people))

25 0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [77]:
grouped_country = data.groupby(['native-country', 'salary'])
grouped_country['hours-per-week'].describe()

                        count       mean        std   min    25%   50%   75%  \
native-country salary
?              <=50K    437.0  40.164760  12.817002   1.0  40.00  40.0  45.0
               >50K     146.0  45.547945  10.202827   8.0  40.00  40.0  50.0
Cambodia       <=50K     12.0  41.416667   3.088346  40.0  40.00  40.0  40.5
               >50K       7.0  40.000000   0.000000  40.0  40.00  40.0  40.0
Canada         <=50K     82.0  37.914634  13.012056   8.0  32.75  40.0  40.0
...                       ...        ...        ...   ...    ...   ...   ...
United-States  >50K    7171.0  45.505369  11.025092   1.0  40.00  40.0  50.0
Vietnam        <=50K     62.0  37.193548  12.422664   1.0  40.00  40.0  40.0
               >50K       5.0  39.200000   1.788854  36.0  40.00  40.0  40.0
Yugoslavia     <=50K     10.0  41.600000  11.305849  20.0  40.00  40.0  40.0
               >50K       6.0  49.500000  11.202678  40.0  40.00  46.0  58.0

                        max
native-country salary
?              <=50K   99.0
               >50K    80.0
Cambodia       <=50K   50.0
               >50K    40.0
Canada         <=50K   70.0
...                     ...
United-States  >50K    99.0
Vietnam        <=50K   77.0
               >50K    40.0
Yugoslavia     <=50K   66.0
               >50K    65.0

[82 rows x 8 columns]

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [80]:
def age(row):
    if 16 <= row['age'] <= 35:
        return 'young'
    elif 36 <= row['age'] <= 70:
        return 'adult'
    elif 71 <= row['age'] <= 100:
        return 'retiree'

data['AgeGroup'] = data.apply(age, axis=1)
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [105]:
first_group=data[data['salary']=='>50K']
first_group.groupby(['AgeGroup']).size()
print(first_group.groupby(['AgeGroup']).size().idxmax())

adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [108]:
grouped_occupation=data.groupby(['occupation'])
grouped_occupation.size()

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64

In [113]:
def filter_func(df):
    age_mean = df['age'].mean()
    hours_mean = df['hours-per-week'].mean()
    return (age_mean <= 40) & (hours_mean > 5)

In [114]:
filter_func(grouped_occupation)

occupation
?                    False
Adm-clerical          True
Armed-Forces          True
Craft-repair          True
Exec-managerial      False
Farming-fishing      False
Handlers-cleaners     True
Machine-op-inspct     True
Other-service         True
Priv-house-serv      False
Prof-specialty       False
Protective-serv       True
Sales                 True
Tech-support          True
Transport-moving     False
dtype: bool